@media (max-width: 600px) {
  .display-2 {
    text-align: center; } }
img {
  height: auto;
  max-width: 100%; }

.fixed-top.scrolled {
  background-color: black;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear; }

.navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: white; }

.social-nav-fixed {
  visibility: hidden;
  width: 100%;
  background: whitesmoke; }

.social-nav-fixed.scrolling {
  z-index: 1000;
  position: fixed;
  top: 70px;
  left: 0;
  visibility: visible;
  -webkit-transition: visibility 200ms linear;
  transition: visibility 200ms linear; }

@media (min-width: 990px) {
  ul.navbar-nav li.dropdown:hover div.dropdown-menu {
    display: block; } }
#banner-container {
  height: 100vh; }
  #banner-container video#full-vid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(assets/stesson-bezuidenhout-392269-unsplash.jpg) no-repeat;
    background-size: cover;
    opacity: 0.3; }

#title-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

#banner-title {
  background: transparent;
  font-family: "Oswald", sans-serif;
  color: white;
  font-weight: bold;
  text-align: center; }

.visit-us {
  height: 20px;
  width: 290px;
  text-align: center; }
  .visit-us a {
    color: whitesmoke; }

#visit-us-a {
  height: 55px;
  border: 3px solid transparent; }
  #visit-us-a a {
    text-decoration: none; }

#visit-us-a:hover {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border-color: white; }
  #visit-us-a:hover a {
    color: white; }

#left-arrow {
  -webkit-animation: 2s pulse-left infinite;
  animation: 2s pulse-left infinite; }

#right-arrow {
  -webkit-animation: 2s pulse-right infinite;
  animation: 2s pulse-right infinite; }

@-webkit-keyframes pulse-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes pulse-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes pulse-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes pulse-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
#content-area {
  z-index: 10; }

.hideme {
  opacity: 0; }

#details-section {
  background: whitesmoke;
  text-align: center; }
  #details-section .detail-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: 2%; }
    #details-section .detail-col .btn {
      width: 40%;
      -webkit-box-shadow: 0 0px 10px 3px rgba(10, 5, 10, 0.1);
      box-shadow: 0 0px 10px 3px rgba(10, 5, 10, 0.1);
      margin: auto; }
      #details-section .detail-col .btn a {
        color: whitesmoke;
        text-decoration: none; }
    #details-section .detail-col ul {
      text-align: left; }
    #details-section .detail-col .detail-titles {
      font-weight: bold;
      color: whitesmoke;
      line-height: 172px; }
    #details-section .detail-col .circle-container {
      border: 2px solid linear-gradient(top left, #ffbe0b, #ff9797);
      background: -webkit-gradient(linear, left top, right bottom, from(#ffbe0b), to(#ff9797));
      background: linear-gradient(top left, #ffbe0b, #ff9797);
      height: 150px;
      width: 150px;
      border-radius: 150px;
      margin-left: auto;
      margin-right: auto; }

#ticket i {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.gap-section {
  height: 150px; }

#welcome-title {
  text-align: center; }

#detroit-zoo {
  font-weight: bold;
  font-family: "Oswald";
  background: -webkit-gradient(linear, left top, right top, from(#6153cc), to(#a297ff));
  background: linear-gradient(left, #6153cc, #a297ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.title-banner {
  text-align: center;
  background: #A60067;
  opacity: 0.9; }

#welcome-section {
  background: url("assets/joshua-hoehne-635733-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

#welcome-container {
  height: 500px;
  background: rgba(5, 5, 5, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

#membership-section {
  background: -webkit-gradient(linear, left top, right top, from(#DE4747), to(#D1174A));
  background: linear-gradient(to right, #DE4747, #D1174A); }
  #membership-section .membership-card .container {
    text-align: center; }
  #membership-section .membership-card .membership-card-body {
    margin-top: 3%; }
  #membership-section .membership-card .membership-card-title {
    text-align: center; }

#membership-section-title {
  color: whitesmoke;
  margin-left: 5%; }

#map-section {
  background: #E5ECF4;
  height: 40rem; }
  #map-section .carousel-indicators {
    top: 105%; }
    #map-section .carousel-indicators li {
      background-color: #283845; }
    #map-section .carousel-indicators li.active {
      background-color: whitesmoke; }
  #map-section .carousel-inner {
    margin: auto; }
    #map-section .carousel-inner .carousel-item {
      margin-right: auto; }
    #map-section .carousel-inner .animal-card {
      margin: auto; }
  #map-section .carousel-title {
    text-align: center;
    padding-bottom: 10%;
    padding-top: 5%; }

#map-section-title {
  text-align: center; }

#map-container {
  padding-top: 10%; }

#zoo-map {
  width: 100%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.btn.map-icon {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  text-align: center;
  border: 3px solid;
  -webkit-animation: 2s pulsate infinite;
  animation: 2s pulsate infinite;
  position: absolute;
  -webkit-box-shadow: 0 0 15px 3px rgba(1, 1, 1, 0.3);
  box-shadow: 0 0 15px 3px rgba(1, 1, 1, 0.3); }

.btn.map-icon:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: transparent; }

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
#icon-one {
  background: crimson;
  border-color: crimson;
  top: 10%;
  left: 45%;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

#icon-two {
  background: #FFBE0B;
  border-color: #FFBE0B;
  top: 28%;
  left: 43%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

#icon-three {
  background: #F17F29;
  border-color: #F17F29;
  top: 15%;
  left: 60%;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

#icon-four {
  background: #C4E0F9;
  border-color: #C4E0F9;
  top: 23%;
  left: 50%;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

#icon-five {
  background: #283845;
  border-color: #283845;
  top: 34%;
  left: 56%; }

#icon-six {
  background: #A60067;
  border-color: #A60067;
  top: 45%;
  left: 58%;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

#icon-seven {
  background: #4AAD52;
  border-color: #4AAD52;
  top: 75%;
  left: 47%; }

#large-animal-carousel {
  display: none; }

.hide-div {
  display: none; }

.switch {
  display: block; }

.hidden {
  display: none; }

#events-section {
  background: -webkit-gradient(linear, left top, right top, from(#2967C7), to(#033176));
  background: linear-gradient(to right, #2967C7, #033176);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  #events-section #event-button-container {
    text-align: center; }
  #events-section .event-button {
    margin-bottom: 5%;
    border: 2px solid #A60067;
    border-radius: 20px; }
    #events-section .event-button a {
      text-decoration: none;
      color: whitesmoke; }
  #events-section .event-button:hover {
    background: #A60067;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }

#events-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

#event-section-title {
  color: whitesmoke;
  text-align: center;
  font-weight: bold; }

#event-title-container {
  height: 100px; }

#animal-section {
  position: relative;
  background: -webkit-gradient(linear, right top, left top, from(#57C459), to(#03AA77));
  background: linear-gradient(right, #57C459, #03AA77); }
  #animal-section .learn-button {
    margin-top: 3%;
    margin-bottom: 3%;
    border: 2px solid #A60067;
    border-radius: 20px; }
    #animal-section .learn-button a {
      text-decoration: none;
      color: #283845; }
  #animal-section .learn-button:hover {
    background: #A60067;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    #animal-section .learn-button:hover a {
      color: whitesmoke; }

#animal-title-container {
  height: 150px; }

#animal-section-title {
  color: whitesmoke; }

.card-img-overlay {
  background-color: rgba(47, 79, 79, 0.3); }

#learn-grid .row {
  margin: 0; }
#learn-grid .card {
  background: #4AAD52; }
  #learn-grid .card .card-body {
    background: rgba(1, 1, 1, 0.5); }
  #learn-grid .card .card-title {
    font-weight: bold;
    font-size: 30px; }
#learn-grid .card:hover .card-img-overlay {
  background-color: rgba(1, 1, 1, 0.6);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out; }

#conservation-section {
  position: relative; }

#conservation-container {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(1, 90, 130, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

#conservation {
  font-weight: bold;
  font-family: "Oswald";
  background: -webkit-gradient(linear, right top, left top, from(#f17f29), to(#ffc05c));
  background: linear-gradient(right, #f17f29, #ffc05c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

@media (max-width: 1000px) {
  #australian-carousel {
    display: none; }

  #american-carousel {
    display: none; }

  #african-grassland-carousel {
    display: none; }

  #arctic-carousel {
    display: none; }

  #african-forest-carousel {
    display: none; }

  #asian-forest-carousel {
    display: none; }

  #conservation-carousel {
    display: none; }

  #map-container {
    display: none; }

  #large-animal-carousel {
    display: block;
    margin-left: 8%; }

  #conservation-section {
    background: url("assets/rawpixel-215191-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 540px; }
    #conservation-section #conserve-parallax {
      display: none; }
    #conservation-section #conservation {
      text-align: center; } }
@media (max-width: 550px) {
  #membership-section-title {
    margin-left: 0; }

  #map-section-arrow {
    display: none; }

  #map-section-arrow {
    top: 50%; }

  #map-section-title {
    right: 12%; }

  #map-container {
    margin-top: 15%; }

  #animal-section-title {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

  #learn-grid .card .card-title {
    margin-top: 50%;
    text-align: center; }
  #learn-grid .card #last-card {
    margin: auto; }
  #learn-grid .card .card-text {
    visibility: hidden; }

  #conservation-container #conservation-title {
    text-align: center; } }
.membership-card {
  margin-top: 3%; }
  .membership-card .membership-card-body {
    background: whitesmoke;
    height: 330px;
    overflow: hidden;
    padding: 5%; }
    .membership-card .membership-card-body .membership-card-title a {
      color: #19a2b8;
      text-decoration: none; }
    .membership-card .membership-card-body .membership-card-text li {
      list-style-type: "+"; }

.event-card {
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px; }
  .event-card .img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .event-card .event-card-body {
    background: whitesmoke;
    height: 300px;
    overflow: hidden;
    padding: 5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
    .event-card .event-card-body .event-card-title a {
      color: #3B5998;
      text-decoration: none; }

.animal-card {
  width: 200px; }
  .animal-card .animal-image-container {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%; }
    .animal-card .animal-image-container .image-border {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: transparent;
      border: 10px solid;
      border-radius: 100%; }
    .animal-card .animal-image-container .animal-image {
      width: auto;
      height: 100%; }
  .animal-card .animal-card-body {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 0; }

#asian-forest .animal-card .image-border {
  border-color: #A60067; }

#australian .animal-card .image-border {
  border-color: crimson; }

#asian-forest .animal-card .image-border {
  border-color: #A60067; }

#african-forest .animal-card .image-border {
  border-color: #283845; }

#african-grassland .animal-card .image-border {
  border-color: #F17F29; }

#american .animal-card .image-border {
  border-color: #FFBE0B; }

#arctic .animal-card .image-border {
  border-color: #C4E0F9; }

#conservation-carousel-slides .animal-card .image-border {
  border-color: #4AAD52; }

#footer-container {
  background: -webkit-gradient(linear, left top, right bottom, from(#924e8f), to(#a297ff));
  background: linear-gradient(top left, #924e8f, #a297ff);
  text-align: center; }

#contact-container {
  padding: 5%; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .contact span a {
    text-decoration: none;
    color: white; }
  .contact span a:hover {
    color: #283845; }
