@import url("https://fonts.googleapis.com/css?family=Oswald");
.display-1 {
  font-family: "Oswald"; }

img {
  height: auto;
  max-width: 100%; }

.fixed-top.scrolled {
  background-color: #283845;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear; }

.navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: white; }

.social-nav-fixed {
  visibility: hidden;
  width: 100%;
  background: whitesmoke; }

.social-nav-fixed.scrolling {
  z-index: 1000;
  position: fixed;
  top: 70px;
  left: 0;
  visibility: visible;
  -webkit-transition: visibility 200ms linear;
  transition: visibility 200ms linear; }

@media (min-width: 990px) {
  ul.navbar-nav li.dropdown:hover div.dropdown-menu {
    display: block; } }
#banner-container {
  height: 100vh; }
  #banner-container video#full-vid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(assets/stesson-bezuidenhout-392269-unsplash.jpg) no-repeat;
    background-size: cover;
    opacity: 0.3; }

#title-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

#banner-title {
  background: transparent;
  font-family: "Oswald", sans-serif;
  color: white;
  font-weight: bold;
  text-align: center; }

.visit-us {
  height: 20px;
  width: 290px;
  text-align: center; }
  .visit-us a {
    color: whitesmoke; }

#visit-us-a {
  height: 55px;
  border: 3px solid transparent; }
  #visit-us-a a {
    text-decoration: none; }

#visit-us-a:hover {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border-color: white; }
  #visit-us-a:hover a {
    color: white; }

#left-arrow {
  -webkit-animation: 2s pulse-left infinite;
  animation: 2s pulse-left infinite; }

#right-arrow {
  -webkit-animation: 2s pulse-right infinite;
  animation: 2s pulse-right infinite; }

@-webkit-keyframes pulse-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes pulse-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes pulse-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes pulse-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
#content-area {
  z-index: 10; }

.hideme {
  opacity: 0; }

#details-section {
  background: whitesmoke;
  text-align: center; }
  #details-section .detail-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: 2%; }
    #details-section .detail-col ul {
      text-align: left; }
    #details-section .detail-col .ticket-btn {
      border-radius: 20px;
      max-width: 150px;
      margin: auto;
      border: 3px solid #A60067; }
      #details-section .detail-col .ticket-btn a {
        text-decoration: none;
        color: black; }
    #details-section .detail-col .ticket-btn:hover {
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      background: #A60067; }
      #details-section .detail-col .ticket-btn:hover a {
        color: whitesmoke; }
    #details-section .detail-col .detail-titles {
      font-weight: bold;
      color: whitesmoke;
      line-height: 172px; }
    #details-section .detail-col .circle-container {
      border: 2px solid linear-gradient(top left, #ffbe0b, #ff9797);
      background: -webkit-gradient(linear, left top, right bottom, from(#ffbe0b), to(#ff9797));
      background: linear-gradient(top left, #ffbe0b, #ff9797);
      height: 150px;
      width: 150px;
      border-radius: 150px;
      margin-left: auto;
      margin-right: auto; }

#ticket i {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#welcome-title {
  text-align: center; }

#detroit-zoo {
  font-weight: bold;
  font-family: "Oswald";
  background: -webkit-gradient(linear, left top, right top, from(#6153cc), to(#a297ff));
  background: linear-gradient(left, #6153cc, #a297ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.title-banner {
  text-align: center;
  background: #A60067;
  opacity: 0.9; }

#welcome-section {
  background: url("assets/himesh-kumar-behera-221104-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

#welcome-container {
  height: 500px;
  background: rgba(5, 5, 5, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

#map-section {
  position: relative;
  background: #E5ECF4;
  background-size: cover;
  background-repeat: no-repeat; }
  #map-section .info-button {
    position: absolute;
    bottom: 5%;
    width: 175px;
    border: 2px solid #A60067;
    border-radius: 20px; }
    #map-section .info-button a {
      text-decoration: none;
      color: #283845; }
  #map-section .info-button:hover {
    background: #A60067;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    #map-section .info-button:hover a {
      color: whitesmoke; }

#map-section-title {
  position: absolute;
  color: #283845;
  font-weight: bold;
  z-index: 100;
  right: 16%;
  top: 10%; }

#map-title-container {
  height: 100px; }

#map-section-arrow {
  position: absolute;
  right: 18%;
  top: 29%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg); }

.platform {
  height: 50px;
  width: 500px;
  position: absolute; }

#map-container {
  position: relative; }

#zoo-map {
  margin: auto;
  width: 100%; }

.btn.map-icon {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  text-align: center;
  border: 3px solid;
  -webkit-animation: 2s pulsate infinite;
  animation: 2s pulsate infinite;
  position: absolute;
  -webkit-box-shadow: 0 0 15px 3px rgba(1, 1, 1, 0.3);
  box-shadow: 0 0 15px 3px rgba(1, 1, 1, 0.3); }

.btn.map-icon:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: transparent; }

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
#icon-one {
  background: crimson;
  border-color: crimson;
  top: 53%;
  left: 8%;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

#icon-two {
  background: #FFBE0B;
  border-color: #FFBE0B;
  top: 55%;
  left: 24%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

#icon-three {
  background: #F17F29;
  border-color: #F17F29;
  top: 29%;
  left: 15%;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

#icon-four {
  background: #C4E0F9;
  border-color: #C4E0F9;
  top: 42%;
  left: 19%;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

#icon-five {
  background: #283845;
  border-color: #283845;
  top: 33%;
  left: 29%; }

#icon-six {
  background: #A60067;
  border-color: #A60067;
  top: 30%;
  left: 38%;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

#icon-seven {
  background: #4AAD52;
  border-color: #4AAD52;
  top: 50%;
  left: 60%; }

#info-section {
  height: 150px; }

#events-section {
  background: -webkit-gradient(linear, left top, right top, from(#6153cc), to(#a297ff));
  background: linear-gradient(left, #6153cc, #a297ff);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  #events-section .event-button {
    margin-bottom: 5%;
    border: 2px solid #A60067;
    border-radius: 20px; }
    #events-section .event-button a {
      text-decoration: none;
      color: #283845; }
  #events-section .event-button:hover {
    background: #A60067;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    #events-section .event-button:hover a {
      color: whitesmoke; }

#events-container {
  margin: auto;
  padding: 5%; }
  #events-container .card {
    margin: auto;
    border-radius: 20px; }
    #events-container .card .card-img-top {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px; }
    #events-container .card .date-container {
      padding-top: 5%; }
      #events-container .card .date-container .row {
        margin: auto; }
      #events-container .card .date-container .event-date {
        color: black; }
    #events-container .card .card-title {
      text-align: center;
      font-family: "Oswald";
      font-weight: bold;
      color: black; }
    #events-container .card .card-text {
      height: 150px;
      overflow: hidden; }

#event-section-title {
  color: whitesmoke;
  text-align: center;
  font-weight: bold; }

#event-title-container {
  height: 100px; }

.ui-datepicker {
  margin: 0;
  padding: 0;
  border: none;
  border-spacing: 0; }

.ui-datepicker table {
  margin: 0;
  padding: 0;
  border: none;
  border-spacing: 0; }

.ui-datepicker tr {
  margin: 0;
  padding: 0;
  border: none;
  border-spacing: 0; }

.ui-datepicker td {
  margin: 0;
  padding: 0;
  border: none;
  border-spacing: 0; }

.ui-datepicker th {
  margin: 0;
  padding: 0;
  border: none;
  border-spacing: 0; }

.ui-datepicker {
  display: none;
  width: 30rem;
  height: 350px;
  padding: 35px;
  cursor: default;
  text-transform: uppercase;
  font-size: 14px;
  background: whitesmoke;
  border-radius: 3px; }

.ui-datepicker-header {
  position: relative;
  padding-bottom: 10px; }

.ui-datepicker-title {
  text-align: center;
  font-weight: bold; }

.ui-datepicker-month {
  position: relative;
  padding-right: 15px;
  color: #283845; }

.ui-datepicker-year {
  padding-left: 8px;
  color: #a8a8a8; }

.ui-datepicker-month:before {
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
  width: 5px;
  line-height: 5px;
  content: "|";
  font-size: 20px;
  border-radius: 5px; }

.ui-datepicker-prev {
  position: absolute;
  top: -2px;
  padding: 5px;
  left: 0;
  padding-left: 0; }
  .ui-datepicker-prev span {
    display: block;
    width: 5px;
    height: 10px;
    background-position: 0px 0px; }

.ui-datepicker-next {
  position: absolute;
  top: -2px;
  padding: 5px;
  cursor: pointer;
  right: 0;
  padding-right: 15px; }
  .ui-datepicker-next span {
    display: block;
    width: 5px;
    height: 10px;
    background-position: -5px 0px; }

.ui-datepicker-prev-hover {
  opacity: 0.5; }

.ui-datepicker-next-hover {
  opacity: 0.5; }

.ui-datepicker-calendar th {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: #6153CC; }
.ui-datepicker-calendar td {
  padding: 0 7px;
  text-align: center;
  line-height: 26px; }

.ui-datepicker-calendar .ui-state-default {
  display: block;
  width: 2.75rem;
  height: 2.5rem;
  outline: none;
  text-decoration: none;
  color: #283845;
  border: 1px solid transparent; }

.ui-datepicker-calendar .ui-state-active {
  color: #4AAD52;
  border: 1px solid #4AAD52; }

.ui-datepicker-other-month .ui-state-default {
  color: #6153CC; }

#social-feed {
  margin-top: 8%;
  height: 150px;
  overflow: auto;
  background: whitesmoke; }
  #social-feed .media {
    margin-top: 2%; }
    #social-feed .media .mr-3 {
      height: 64px;
      width: 64px;
      border: 1px solid black;
      border-radius: 40px; }

#social-calendar-container {
  margin-left: 10%; }

#animal-section {
  position: relative;
  background: #4AAD52; }
  #animal-section .learn-button {
    margin-top: 3%;
    margin-bottom: 3%;
    border: 2px solid #A60067;
    border-radius: 20px; }
    #animal-section .learn-button a {
      text-decoration: none;
      color: #283845; }
  #animal-section .learn-button:hover {
    background: #A60067;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    #animal-section .learn-button:hover a {
      color: whitesmoke; }

#animal-title-container {
  height: 150px; }

#animal-section-title {
  color: whitesmoke;
  font-weight: bold;
  z-index: 100; }

.card-img-overlay {
  background-color: rgba(47, 79, 79, 0.3); }

#learn-grid .row {
  margin: 0; }
#learn-grid .card {
  border-radius: 0;
  background: grey; }
  #learn-grid .card .card-body {
    background: rgba(1, 1, 1, 0.5); }
  #learn-grid .card .card-title {
    font-weight: bold;
    font-size: 30px; }
#learn-grid .card:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out; }

#conservation-section {
  background-image: url("assets/rawpixel-215191-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 630px; }

#conservation-container {
  margin-left: auto;
  background: rgba(1, 90, 130, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

#conservation {
  font-weight: bold;
  font-family: "Oswald";
  background: -webkit-gradient(linear, right top, left top, from(#f17f29), to(#ffc05c));
  background: linear-gradient(right, #f17f29, #ffc05c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

@media (max-width: 1000px) {
  #map-section-arrow {
    top: 40%;
    left: 50%; } }
@media (max-width: 800px) {
  #social-calendar-container {
    display: none; } }
@media (max-width: 550px) {
  #map-section-arrow {
    display: none; }

  #social-calendar-container {
    display: none; }

  #map-section-arrow {
    top: 50%; }

  #map-section-title {
    right: 12%; }

  #map-container {
    margin-top: 15%; }

  #animal-section-title {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

  #learn-grid .card .card-title {
    margin-top: 50%;
    text-align: center; }
  #learn-grid .card #last-card {
    margin: auto; }
  #learn-grid .card .card-text {
    visibility: hidden; }

  #conservation-container #conservation-title {
    text-align: center; } }
#footer-container {
  background: -webkit-gradient(linear, left top, right top, from(#6984cf), to(#C4E0F9));
  background: linear-gradient(to right, #6984cf, #C4E0F9);
  text-align: center; }

#contact-container {
  padding: 5%; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #283845; }
