// Colors
$minty: #A8DCD1
$skyblue: #65DEF1
$iris: #6153CC
$purplered: #A60067
$orange: #F17F29
$yellow: #FFBE0B
$darkslate: #2F4F4F
$white: whitesmoke
$crimson: crimson
$green: green
$fadingorange: linear-gradient(top, #f17f29, #ffc05c)
$fadingpurple: linear-gradient(left, #6153cc, #a297ff)
$fadingyellowpink: linear-gradient(top left, #ffbe0b, #ff9797)
$fadingpink: linear-gradient(top left, #a60067, #924e8f)


//Radius and Sizes
$cardradius: 10px