// Colors
$minty: #A8DCD1
$skyblue: #C4E0F9
$glitter: #E5ECF4
$iris: #6153CC
$purplered: #A60067
$orange: #F17F29
$yellow: #FFBE0B
$darkslate: #283845
$white: whitesmoke
$crimson: crimson
$green: #4AAD52
$facebook: #3B5998
$info: rgb(25,162,184)
$black: black
$fadingorange: linear-gradient(right, #f17f29, #ffc05c)
$fadingpurple: linear-gradient(left, #6153cc, #a297ff)
$fadingyellowpink: linear-gradient(top left, #ffbe0b, #ff9797)
$fadingpink: linear-gradient(top left, #924e8f, #a297ff)
$fadingblue: linear-gradient(to right, #2967C7, #033176)
$fadingred: linear-gradient(to right, #DE4747, #D1174A)
$fadinggreen: linear-gradient(right, #57C459, #03AA77)

//Radius and Sizes
$cardradius: 10px