.col-sm
	.card
		border-radius: $cardradius
		.card-title
			color: $purplered
		.card-img-top
			border-top-left-radius: $cardradius
			border-top-right-radius: $cardradius

.card-event-info
	display: flex
	justify-content: space-evenly
	height: 10%
	border-bottom: 1px solid lightgrey
	padding-left: 6%
	padding-right: 6%
	padding-top: 3%