@media (min-width: 990px)
	ul.navbar-nav
		li.dropdown:hover
			div.dropdown-menu
				display: block



.fixed-top.scrolled
	background-color: $darkslate !important
	transition: background-color 200ms linear

.social-nav-fixed
	visibility: hidden
	width: 100%

.social-nav-fixed.scrolling
	z-index: 1000
	position: fixed
	top: 70px
	left: 0
	visibility: visible
	transition: visibility 200ms linear